body {
    background-color: black;
    text-align: left;
    color: white;
    display: flex;
    align-items: flex-begin;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

html {
    min-height: 100%;
}

h1 {
    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 24px;
}


.command:before {
    padding-right: 1em;
    content: ">";
    color: white;
}

h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Consolas, monaco, monospace;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    line-height: 54px;
    margin: 0;
}

blockquote {
    font-family: Consolas, monaco, monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

.white-cursor {
    background-color: white;
}

.black-cursor {
    background-color: black;
}
